<ion-view view-title={{companyName}}>
	<ion-nav-buttons side="right">
		<button ng-click="openPopover($event)" class="button icon ion-android-more-vertical button-clear"></button>
	</ion-nav-buttons>
	<ion-content has-bouncing="true">
		 <!-- Unit locations page -->
	     <div ng-show="locationsPage">
	       <div class="list">
	         <a ng-repeat="location in locations" class="item item-icon-left" ng-href="#/app/unitsList/{{companyId}}/{{location}}/{{companyName}}">
	           <i class="icon ion-ios-folder assertive"></i>
	           <h2>{{location}}</h2>
	         </a>
	       </div>
	     </div>
	</ion-content>
  </div>
</ion-view>

<!-- Menu popover -->
<script id="menu-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
        <div class="list">
          <a class="item item-icon-left" ng-click="scanUnit(companyName, companyId); closePopover()">
              <i class=" icon ion-qr-scanner"></i>
              Scan Unit
          </a>
          <a class="item item-icon-left" ng-href="#/app/search" ng-click="closePopover()">
              <i class=" icon ion-android-search"></i>
              Search
          </a>
          <a class="item item-icon-left" ng-click="closePopover(); takePicture(unit.serial_no)">
              <i class=" icon ion-camera"></i>
              Camera
          </a>
          <a class="item item-icon-left" ng-click="closePopover()">
              <i class="icon ion-android-document"></i>
              Genrate Report
          </a>
          <a class="item item-icon-left" ng-click="closePopover()">
              <i class="icon ion-android-delete"></i>
              Delete Records
          </a>
        </div>
    </ion-content>
  </ion-popover-view>
</script>