<ion-view view-title="Reports Browser">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="">
  		<!-- Directory Options -->
    	<div class="list" ng-hide="fileList">
    		<a class="item item-icon-left" ng-click="pdfReports()">
    			<i class="icon icon-folder-plus assertive"></i>
    			PDF Documents
    		</a>
    		<a class="item item-icon-left" ng-click="excelReports()">
    			<i class="icon icon-folder-plus assertive"></i>
    			Excel Documents
    		</a>
    	</div>

    	<!-- File list -->
    	<div class="list" ng-show="fileList" show-delete="false" can-swipe="true">
    		<a class="item item-icon-left" ng-click="upFolder()">
    			<i class="icon icon-folder-minus assertive"></i>
    			Back	
    		</a>

    		<div ng-repeat="file in files">
    			
	    		<div class="item item-icon-left item-button-right item-text-wrap" ng-show="isPDF">
	    			<!-- Click to View PDF report -->
	    			<a ng-click="openPdfReport(file.nativeURL)">
	    				<i class="icon icon-file-pdf assertive"></i>
	    				{{file.name}}
	    			</a>

	    			<!-- Delete Button -->
	    			<a class="button button-assertive button-clear" ng-click="removePdfReport(file.fullPath)">
	    				<i class="icon ion-trash-b" ng-click="removePdfReport(file.fullPath)"></i>
	    			</a>
	    		</div>

	    		
	    		<div class="item item-icon-left item-button-right item-text-wrap" ng-show="isExcel">
	    			<!-- Click to View PDF report -->
	    			<a ng-click="">
	    				<i class="icon icon-file-excel assertive"></i>
	    				{{file.name}}
	    			</a>
	    			
	    			<!-- Delete Button -->
	    			<button class="button button-assertive button-clear">
	    				<i class="icon ion-trash-b"></i>
	    			</button>
	    		</div>
    		</div>

    		<div class="item" ng-show="noResults">
    			No Files Available
    		</div>
    	</div>
  </ion-content>
</ion-view>
